.carroussel {
  width: 1240px;
  height: 415px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  @include desktop {
    width: 970px;
  }
  @include tablet {
    width: 740px;
  }
  @include portraitmobile {
    width: 568px;
    height: 300px;
  }
  @include mobile {
    width: 335px;
    height: 255px;
  }
}

.appartement {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
  top: -10pxpx;
  z-index: 1;
  @include desktop {
    width: 970px;
  }
  @include tablet {
    width: 740px;
  }
  @include portraitmobile {
    width: 568px;
    height: 300px;
  }
  @include mobile {
    width: 335px;
    height: 255px;
  }
}
.precedent,
.suivant {
  position: absolute;
  background-color: transparent;
  border: 0;
  z-index: 2;
  cursor: pointer;
  & img {
    @include portraitmobile {
      width: 20px;
      height: 40px;
    }
    @include portraitmobile {
      width: 11px;
      height: 20px;
    }
  }
}
.precedent {
  top: 40%;
  right: 93%;
  @include tablet {
    right: 90%;
  }
  @include portraitmobile {
    top: 45%;
  }
}
.suivant {
  left: 93%;
  bottom: 40%;
  @include tablet {
    left: 90%;
  }
  @include portraitmobile {
    bottom: 45%;
  }
  @include mobile {
    bottom: 45%;
    left: 90%;
  }
}
