.carroussel {
  width: 1240px;
  height: 415px;
  margin: 0 auto;
  position: relative;
}

.appartement {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
  top: -10pxpx;
  z-index: 1;
}
.precedent,
.suivant {
  position: absolute;
  background-color: transparent;
  border: 0;
  z-index: 2;
}
.precedent {
  top: 40%;
  right: 93%;
}
.suivant {
  left: 93%;
  bottom: 40%;
}
