@import '../utils/variables';
@import '../utils/mixins';
.blocDropdown {
  height: 100%;
}
.dropdown {
  width: 1023px;
  height: 47px;
  background-color: $couleur-primaire;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    width: 800px;
  }
  @include tablet {
    width: 580px;
  }
  @include portraitmobile {
    width: 380px;
  }
  @include mobile {
    width: 335px;
    height: 30px;
  }
}
.title {
  color: $couleur-blanche;
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
  @include mobile {
    font-size: 13px;
  }
}
.chevronDown {
  margin-right: 20px;
  height: 9px;
  width: 15px;
}
.contentDropdown {
  width: 1023px;
  background-color: $couleur-background;
  border-radius: 0px 0px 5px 5px;
  @include desktop {
    width: 800px;
  }
  @include tablet {
    width: 580px;
  }
  @include portraitmobile {
    width: 380px;
  }
  @include mobile {
    width: 335px;
  }
}
.contentSommaire {
  width: 98%;
}
.sommaire {
  display: none;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-left: 18px;
  padding-bottom: 20px;
  color: $couleur-primaire;
}
.padding {
  padding-top: 200px;
  @include desktop {
    padding-top: 310px;
  }
  @include tablet {
    padding-top: 400px;
  }
  @include portraitmobile {
    padding-top: 100px;
  }
  @include mobile {
    padding-top: 200px;
  }
}
