@import '../utils/variables';

.textLigne {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.four,
.oups,
.retourner {
  color: $couleur-primaire;
}
.four {
  font-size: 288px;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 0px;
}
.oups {
  font-size: 36px;
}
.retourner {
  font-size: 18px;
  margin-top: 86px;
  list-style-type: none;
  text-decoration: underline;
}
