.galerie {
  max-width: 1240px;
  margin-top: 335px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $couleur-background;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.galerie a {
  width: 340px;
  height: 340px;
  padding: 30px 0px 30px 35px;
  border-radius: 10px;
  text-decoration: none;
}
.imgLocation {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
.figcaption {
  font-size: 18px;
  margin-top: -50px;
  color: $couleur-blanche;
  text-align: center;
}
