.galerie {
  max-width: 1240px;
  margin-top: 335px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
.imgLocation {
  width: 340px;
  height: 340px;
  margin: 0;
  border-radius: 10px;
  background-color: brown;
}
