@import '../utils/variables';

header {
  max-width: 1240px;
  height: 68;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  .navigation ul {
    display: flex;
    list-style-type: none;

    a {
      font-size: 24px;
      font-weight: 500;
      margin-left: 48px;
      color: $couleur-primaire;
      text-decoration: none;
    }
    [aria-current] {
      text-decoration: underline;
    }
  }
}
