@import '../utils/variables';
@import '../utils/mixins';

header {
  max-width: 1240px;
  height: 68;
  margin: 0 auto;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  @include desktop {
    max-width: 970px;
  }
  @include tablet {
    max-width: 740px;
  }
  @include portraitmobile {
    max-width: 568px;
  }
  @include mobile {
    max-width: 335px;
  }
  .logo {
    @include mobile {
      width: 145px;
      height: 47px;
    }
  }
  .navigation ul {
    display: flex;
    list-style-type: none;
    @include mobile {
      padding-left: 10px;
    }

    a {
      font-size: 24px;
      font-weight: 500;
      margin-left: 48px;
      color: $couleur-primaire;
      text-decoration: none;
      @include mobile {
        font-size: 12px;
        margin-left: 10px;
      }
    }
    [aria-current] {
      text-decoration: underline;
    }
  }
}
