.section {
  position: relative;
}
.contentImage {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.contentTitre {
  position: absolute;
  z-index: 2;
  top: 110px;
  left: 26.5%;
}
.background {
  width: 1240px;
  height: 223px;
  filter: brightness(70%);
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  z-index: 1;
}
h1 {
  font-size: 48px;
  font-weight: 500;
  color: white;
}
